/* 
*******
margin
*******
border ile kenar arasindaki bosluk
border:auto default
-/+  px,rem,em,cm 
50% oran
inherit:icinde oldugu bir üst kutudan miras alir  yani onun degerlerine göree haraeket eder
div{ margin:20px;}
div p{margin:inherit}
p div in degeri yani 20px i alir kullanir)
margin-top: 50px; border ile body arasinda 50px bosluk birakir body den uzaklasir
margin-bottom: alttan
margin-right: sagdan
margin-left:soldan

***shorthand: margin:50px 10px 150px 50px;(üst-sag-alt-sol)

*/


.demo {
    background-color: aqua;
    width: 80%;
    margin: 50px 40px; /*1.deger üstten/alttan,2. deger sagdan/soldan uzaklas demek*/
}

.one {
    background-color: blue;
    height: 50px;
}

.two {
    background-color: yellow;
    /* height: 50px; */
    /* width: 50px; */
    /* margin: 50px; */
    /* margin: 50px 20% ; */
    /*px sabit degerdir %de responsive yani sayfa daraltilip genisletildiginde orana göre kücülür büyür*/
    margin: inherit;
    /*parent den yani burda demo daki degerden alir*/
}

.three {
    background-color: brown;
}