
  
      
      
      
      div1 {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: scroll; /* Add vertical scrollbar */
      }
      img {
        float: right;
      }
      
      img {
        opacity: 0.9;
        filter: alpha(opacity=50); /* For IE8 and earlier */
      }

      .box {
        background: aquamarine;
        padding: 2em;
        width: 50%;
        margin: Oem auto 10em;
        outline: 5px solid white;
        outline-offset: -20px;

      }
      
      .button {
        text-decoration: none;
        display: inline-block%;
        background: steelblue;
        padding: 1em 3em;
        color: white;
        outline: 3px solid steelblue;
        transition: all ease-in-out 300ms;
      }
      
      .button:hover {
      outline: 3px solid steelblue;
      outline-offset: 5px;
      }      
        
      .div1 p {
        background-color: blue;
        color: white;
      }