*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid blue;
    height: 50vh;
    margin: 2rem;
    
}
img {
    padding:1rem;
    width: 50%;
    float: left;
    border-radius: 20px;

}

article {

}
