* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(./background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
     
}
#title {
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    
}
#title span {
    color: red;
}

#description {
    font-style: italic;
    margin-bottom: 10px;
}
#survey-form {
   
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    
    font-size: small;

}
.box {
    margin-bottom: 10px;
}
.box label {
    display: block;
    margin-left: 20px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.box input {
    margin-left: 20px;
    height: 35px;
    width: 85%;
    padding-left: 5px;
}

.box select {
    margin-left: 20px;
    height: 35px;
    width: 85%;
    padding-left: 5px;
}

.box-cr {
    margin: 20px 0px 0px 20px;
}

.box-cr textarea {
    padding-left: 1px;
    margin-top: 5px;
    resize: none;
    width: 90%;
    height: 90px;
}

.box-cr input[type="submit"] {
    margin-bottom: 10px;
    margin-top: -20px;
    position: relative;
    left: 30%;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
}

.box:nth-child(1) {
    padding-top: 20px;
}

@media (max-width:700px) {
    .container {
        width: 90%;
    }
    #description {
        text-align: center;
    }
}