/** {
    margin: 0;
    padding: 0;
    font-family: tahoma;

}
*/
body, ul, li, h1, h2,a {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma';
}
p {
    font-size: 18px;
}

header {
    background-color:#F63232;
    padding: 20px 0;
    text-align: center;
    position: fixed; /*sayfayi asagi-yukari kaydirsamda bu alan sabit kalir*/
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    
}
/*	Position Özellik , bir öğe için kullanılan konumlandırma yönteminin türünü ayarlar.
	Beş farklı konum değeri vardır:
	
static:
relative:
fixed
absolute
sticky
*/

header h1 {
    color: white;
    border: 8px solid white;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 36px;
}

.banner{
    position: relative;
    
}
.banner img {
    max-width: 100%;
}
nav {
    background: #F4F4F4;
    padding: 20px;
    position: sticky;/*bu alan üstten 106px e kadar gider orda sabit kalir*/
    top: 106px;
    z-index: 1;   
    text-align: center;

}
/*	Z-index
	
	• z-index özelliği, bir öğenin yığın sırasını belirtir (hangi öğe diğerlerinin önüne veya arkasına yerleştirilmelidir).
	• Daha yüksek bir yığın sırasına sahip bir eleman, her zaman daha düşük bir yığın sırasının önündedir.
	• Bir öğenin pozitif veya negatif yığın sırası olabilir.

img {
  z-index: -1;
}
*/

nav li {
    width: 20%;
    display: inline-block;
    font-size: 24px;

}

nav li a {
    text-decoration: none;
    color: #4B4B4B ;
    /*Genellikle text-decoration bağlantılardan alt çizgileri kaldırmak için kullanılır:
	a:link {
  text-decoration: none;
    } baglantinin altindaki cizgiyi kaldirir	
	a:link {text-decoration: underline;  
    }  baglantinin altini cizer
	
	Bağlantılı resimlerin kenarlıklarını kaldırmak için hangi değer kullanılır?
	
	border:none;*/

}

nav li a :hover {
    text-decoration: none; /* a:hover mouse üzerine geldiginde ne olsun istiyorsan bununla baslayan komutlarla yaparsin*/
}


nav li a.join{
    color:#F63232;
}

/*
	• a:link: Normal durum, ziyaret edilmemiş bağlantı
	• a:visited: Daha önce ziyaret edilen bağlantı
	• a:hover: Farenin üzerine gelme durumu
	• a:active: Tıklanan bağlantı
	
	Bağlantı durumları bildirilirken bu sıralama önerilir.
	a:link {
  color: black;      ziyaret edilmemis normal
}
	a:visited {
  color: purple;   ziyaret edilmis
}
	a:hover {
  color: red;      fare üzerinde iken
}
	a:active {
  color: blue;   tiklanan baglanti
}
*/

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box; /*padding ve border width ve height ye dahil edilir*/
}
/*max-width özelliği, bir elemanın maksimum genişliğini ayarlamak için kullanılır.
Bu, width özelliğinin kullanılan değerinin max-width tarafından tanımlanan değerden daha büyük olmasını engeller.

div {
  width: 50%;
  max-width: 500px;
}
*/

article h2 {
    color: #F63232;
    font-size: 48px;
}

article p {
    line-height: 2em;
    color: #4B4B4B;

}

article p::first-line {
    font-weight: bold;
    font-size: 1.2em;
}

.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;

}

.images li {
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
}

.images li:hover{
    top: -5px;
}

.images li img {
    width: 90%;
}

section.join {
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;  
    color: #4B4B4B;
}

section .join h2 {
    font-size: 36px;
}

form input  {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;

}

form input:focus {
    border: 4px dashed #4B4B4B;
    outline: none;
}
/*:focus selectöründe secilen elemanin üzerine tiklandiginda almasini istedigimiz style veriyoruz*/
/*outline(anahat), öğenin(borders) sınırlarının dışında kalan bir çizgidir. Anahatlar sınırlardan farklıdır.
CSS'nin 5 anahat özelliği vardır:
outline-style
outline-color
outline-width
outline-offset
.box {
        outline: 5px solid white;
        outline-offset: -20px;
      }
      .button:hover {
      outline: 3px solid steelblue;
      outline-offset: 5px;
      }  bu gayet hos imlec üstüne gelince 
*/

form input:valid {
    border: 4px solid #71d300;

}

#submit {
    cursor:grab ;
}
/*cursor:pointer;gibi  farklı fare imleci oluşturmaya yarar*/

footer {
    background: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
}
/*responsive styles*/

@media screen and (max-widt:1400px) {
    .banner .welcome{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 960px) {
    .banner .welcome {
        font-size: 28px;
    }
    nav li {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 700px){
    .banner .welcome{
      font-size: 20px;
      position: relative;
      text-align: center;
    } 
    .banner .welcome br{
        display: none;
      }
      .banner .welcome span{
        font-size: 1em;
      }
      nav li{
        font-size: 18px;
      }
      .images li{
        width: 100%;
        display: block;
        margin: 20px auto;
      }
    }
    @media screen and (max-width: 560px){
      .banner .welcome{
        font-size: 20px;
        position: relative;
        text-align: center;
      }
      .banner .welcome br{
        display: none;
      }
      .banner .welcome span{
        font-size: 1em;
      }
      nav li{
        display: block;
        width: 100%;
        margin: 12px 0;
      }
      article h2{
        font-size: 36px;
      }
      header, nav{
        position: relative;
        top: 0;
      }
    }
    
    
    
