
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    border: 5px solid black;
    width: 250px;
    height: 240px;
    text-align:left;
    padding: 10px;
}
li{
    border: 1px solid blue;
    padding: 10px 10px;
    margin: 10px;
    
}
li:before{
            content:"\263B";
            color:chocolate;
            padding-right:8px;
}

a{
    border: 1px solid red;
}