@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    padding:20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: wheat;
    font-family: 'Mulish', sans-serif;
    letter-spacing: 5px;
}

a:hover {
    color: gold;
}

.dot {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    background-color: gold;
    transform: translate(3.6rem, .5rem);
    transition: .3s;
    opacity: 0;
}

a:nth-child(1):hover~ .dot{
    opacity: 1;
}

a:nth-child(2):hover~ .dot{
    transform: translate(12rem, .5rem);
    opacity: 1;
}
a:nth-child(3):hover~ .dot{
    transform: translate(20.5rem, .5rem);
    opacity: 1;
}
a:nth-child(4):hover~ .dot{
    transform: translate(29.5rem, .5rem);
    opacity: 1;
}